  <section class="p-3">
        <div class="container-fluid">
          <div class="row">
              <div class="dis col-md-3">          
        
                <ul class="surveys grid">
                    <li class="survey-item">
        
                      <span class="survey-name"> UK Beer May 2014 </span>
                      
                      <span class="survey-country grid-only"> UK  </span>
                      
                      <div class="pull-right">
                        
                        <span class="survey-progress">
                          <span class="survey-progress-bg">
                            <span class="survey-progress-fg" style="width: 8%;"></span>
                          </span>
                          
                          <span class="survey-progress-labels">
                            <span class="survey-progress-label"> 88% </span>
                            <span class="survey-completes"> 50 / 500 </span>
                          </span>
                        </span>
                        
                        <span class="survey-end-date ended"> 2014 - May 10  </span>
                        
                      </div>
                    </li>
                    
                  </ul>  
      
                  <ul class="surveys grid">
                      <li class="survey-item">
          
                        <span class="survey-name"> UK Beer May 2014 </span>
                        
                        <span class="survey-country grid-only"> UK  </span>
                        
                        <div class="pull-right">
                          
                          <span class="survey-progress">
                            <span class="survey-progress-bg">
                              <span class="survey-progress-fg" style="width: 88%;"></span>
                            </span>
                            
                            <span class="survey-progress-labels">
                              <span class="survey-progress-label"> 88% </span>
                              <span class="survey-completes"> 50 / 500 </span>
                            </span>
                          </span>
                          
                          <span class="survey-end-date ended"> 2014 - May 10  </span>
                          
                        </div>
                      </li>
                      
                    </ul>  
      
                    <ul class="surveys grid">
                        <li class="survey-item">
            
                          <span class="survey-name"> UK Beer May 2014 </span>
                          
                          <span class="survey-country grid-only"> UK  </span>
                          
                          <div class="pull-right">
                            
                            <span class="survey-progress">
                              <span class="survey-progress-bg">
                                <span class="survey-progress-fg" style="width: 88%;"></span>
                              </span>
                              
                              <span class="survey-progress-labels">
                                <span class="survey-progress-label"> 88% </span>
                                <span class="survey-completes"> 50 / 500 </span>
                              </span>
                            </span>
                            
                            <span class="survey-end-date ended"> 2014 - May 10  </span>
                            
                          </div>
                        </li>
                        
                      </ul>  
      
                      <ul class="surveys grid">
                          <li class="survey-item">
              
                            <span class="survey-name"> UK Beer May 2014 </span>
                            
                            <span class="survey-country grid-only"> UK  </span>
                            
                            <div class="pull-right">
                              
                              <span class="survey-progress">
                                <span class="survey-progress-bg">
                                  <span class="survey-progress-fg" style="width: 88%;"></span>
                                </span>
                                
                                <span class="survey-progress-labels">
                                  <span class="survey-progress-label"> 88% </span>
                                  <span class="survey-completes"> 50 / 500 </span>
                                </span>
                              </span>
                              
                              <span class="survey-end-date ended"> 2014 - May 10  </span>
                              
                            </div>
                          </li>
                          
                        </ul>  
      
      
                        <ul class="surveys grid">
                            <li class="survey-item">
                
                              <span class="survey-name"> UK Beer May 2014 </span>
                              
                              <span class="survey-country grid-only"> UK  </span>
                              
                              <div class="pull-right">
                                
                                <span class="survey-progress">
                                  <span class="survey-progress-bg">
                                    <span class="survey-progress-fg" style="width: 88%;"></span>
                                  </span>
                                  
                                  <span class="survey-progress-labels">
                                    <span class="survey-progress-label"> 88% </span>
                                    <span class="survey-completes"> 50 / 500 </span>
                                  </span>
                                </span>
                                
                                <span class="survey-end-date ended"> 2014 - May 10  </span>
                                
                              </div>
                            </li>
                            
                          </ul>  
      
      
              </div>
      
            <div class="col-md-9">
              <div class="card shadow">
                <mgl-map
                      class="map"
                      style="height: 80vh;"
                      [style]="'mapbox://styles/mapbox/streets-v9'"
                >
                      <mgl-control
                              mglGeolocate
                              [positionOptions]="{enableHighAccuracy: true}"  [trackUserLocation]="true">
                      </mgl-control>
                     
                </mgl-map>
              </div>
      
            </div>
      
          </div>
        </div>
      
      </section>
      
