<section class="home">
  <div class="container  h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 ">
        <h2>Find Your Atm Now !</h2>
        <div class="glow">
          <div class="seach-form">
            <div class="input-group">
              <label for="">What</label>
              <input
                type="text"
                placeholder="Ex: Name Of the Bank"
                name=""
                id=""
              />
            </div>
            <div class="input-group">
              <label for="">Where</label>
              <input #input type="search" placeholder="Wich City" />
            </div>
            <div class="search-button">
              <button type="button">Search</button>
            </div>
          </div>
        </div>
        <div class="categorie">
          <div id="BMCE" style="background: url(../../assets//img/BMCE.jpg)  center center;background-size: contain;">
          </div>
          <div id="BMCi" style="background: url(../../assets//img/BMCI.png)  center center;background-size: contain;">
          </div>
          <div id="ATW" style="background: url(../../assets//img/AWT.png)  center center;background-size: contain;">
          </div>
          <div id="BP" style="background: url(../../assets//img/bp.jpg)  center center ;background-size: contain;">
          </div>
          <div id="CIH" style="background: url(../../assets//img/CIH.png)  center center;background-size: contain;">
          </div>
          <div id="CM" style="background: url(../../assets//img/Cm.png)  center center;background-size: contain;">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
